{% extends "blog/base2.html" %}
{% block content %}
{% load static %}

<script>
    function enableLikes()
    {
        document.getElementById('like').className = "btn d-inline btn-success btn-sm m-1 mt-0 float-end disabled";
        document.getElementById('dislike').className = "btn d-inline btn-danger btn-sm m-1 mt-0 float-end";
        document.getElementById('dislike').innerHTML = '<i class="fa-solid fa-thumbs-down"></i>'
        document.getElementById('dislike').title = 'Remove Dislike'


    }

    function enableDislikes()
    {
        document.getElementById('like').className = "btn d-inline btn-success btn-sm m-1 mt-0 float-end";
        document.getElementById('dislike').className = "btn d-inline btn-danger btn-sm m-1 mt-0 float-end disabled";
        document.getElementById('like').innerHTML = '<i class="fa-solid fa-thumbs-up"></i>'
        document.getElementById('like').title = 'Remove Like'
    }

    function copy(id, button_id)
    {
        try {
            navigator.clipboard.writeText(document.getElementById(id).innerHTML);
            console.log('Page URL copied to clipboard');
        } catch (err) {
            console.error('Failed to copy: ', err);
        }
        document.getElementById(button_id).innerHTML = '<i class="fa-solid fa-check"></i>'
        setTimeout(() => {  document.getElementById(button_id).innerHTML = '<i class="fa-solid fa-copy"></i>'; }, 2000);
    }

    function pdf_tab(data)
    {
        var pdf_newTab = window.open("");
        pdf_newTab.document.write("<html><head><title>your title in here</title></head><body><iframe title='MY title'  width='100%' height='100%' src='data:application/pdf;base64," + encodeURI(data) + "'></iframe></body></html>")
    }
</script>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metdata">
            <div class="text-center mt-4">
                <h2 class="article-title"><u>{{ object.title }}</u></h2>
            </div>
            <div class="float-end mt-4 mb-2">
                <button class="btn btn-primary float-end mr-2 mb-2" onclick="pdf_tab('{{ object.blob_file }}')" target="_blank">View PDF In New Tab</button>
                {% if can_request == 1 %}
                    <a class="btn btn-info float-end m-2 mt-0" href="{% url 'request-review' object.pk %}">Request Peer Review</a>
                {% elif can_request == 2 %}
                    <a class="btn btn-info float-end m-2 mt-0 disabled" disabled>Peer Review Requested</a>
                {% endif %}
            </div>
        </div>
        <div class="container2">
            <iframe class="responsive-iframe" src="data:application/pdf;base64,{{ object.blob_file }}" style="height:74.3em;width:51em"></iframe>
        </div>
    </div>
</article>
<article class="media content-section">
    <h2 id="comment-section" class="h2 pull-left">Comments 
        <a href="{% url 'blog-comment' post.pk %}" class="btn btn-success btn-sm mt-1 mb-1 float-end">Add comment</a>
    </h2>
    {% if not post.comments.all %}
        No comments
    {% else %}
        {% for comment in post.comments.all %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <img class="rounded-circle article-img" src="data:image/png;base64,{{ comment.username.profile.blob_image }}">
                            <a class="mr-2" href="{% url 'user-posts' comment.username.username %}">{{ comment.username.username }}</a>
                            <small class="text-muted">{{ comment.date_added|date:"d N Y" }} {{ comment.date_added|time }} | {{ comment.likes.count }} <i class="fa-solid fa-thumbs-up"></i> | {{ comment.dislikes.count }} <i class="fa-solid fa-thumbs-down"></i></small>
                            {% if comment.username == user %}
                                <a href="{% url 'blog-comment-update' comment.id %}" class="btn btn-warning btn-sm m-1 mt-3 float-end" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa-solid fa-pen"></i></a>
                                <a href="{% url 'blog-comment-delete' comment.id %}" class="btn btn-danger btn-sm m-1 mt-3 float-end" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </div>
                        <div>{{ comment.body|linebreaks }}
                            <div>
                                <a id="like" href="{% url 'blog-comment-like' post.pk comment.id %}" class="btn btn-success btn-sm m-1 float-end" data-toggle="tooltip" data-placement="top" title="Like"><i class="fa-regular fa-thumbs-up"></i></a>
                                <a id="dislike" href="{% url 'blog-comment-dislike' post.pk comment.id %}" class="btn btn-danger btn-sm m-1 float-end" data-toggle="tooltip" data-placement="top" title="Dislike"><i class="fa-regular fa-thumbs-down"></i></a>
                            </div>
                            <br>
                            <br>
                                {% for user1 in comment.likes.all %}
                                    {% if user1 == user%}
                                        <script>enableDislikes()</script>
                                    {% endif %}
                                {% endfor %}
                                {% for user1 in comment.dislikes.all %}
                                    {% if user1 == user%}
                                        <script>enableLikes()</script>
                                    {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                </article>
        {% endfor %}
    {% endif %}
</article>

<!--Modal-->
<div class="modal fade" id="citeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Cite</h4>
            </div>
            <div class="modal-header">
                <h5>APA</h5>
            </div>
            <div class="modal-body">
                In-text Citation
                <br>
                <div class="border p-3" style="border-radius: 1em; background-color: aliceblue;">
                    <div id="2" style="display: inline;">
                        ({{object.author.last_name}}, {{object.get_year}}, pp. {START_PAGE}-{END_PAGE})
                    </div>
                    <button id="2.1" class="btn btn-primary btn-sm float-end" style="position:relative" onclick="copy('2', this.id)"><i class="fa-solid fa-copy"></i></button>
                </div>
                <br>
                Reference List Entry
                <br>
                <div class="border p-3" style="border-radius: 1em; background-color: aliceblue;">
                    <div id="1" style="display: inline;">
                        {{object.author.last_name}}.{{object.author.first_name|make_list|first}}. ({{object.get_year}}). {{object.title}} ({{object.get_ordinal}} ed.). {{object.publisher}}
                    </div>
                    <button id="1.1" class="btn btn-primary btn-sm float-end" style="position:realtive" onclick="copy('1', this.id)"><i class="fa-solid fa-copy"></i></button>
                </div>
                <br>
            </div>
            <div class="modal-header">
                <h5>Harvard</h5>
            </div>
            <div class="modal-body">
                In-text Citation
                <br>
                <div class="border p-3" style="border-radius: 1em; background-color: aliceblue;">
                    <div id="3" style="display: inline;">
                        ({{object.author.last_name}}, {{object.get_year}}, pp. {START_PAGE}-{END_PAGE})
                    </div>
                    <button id="3.1" class="btn btn-primary btn-sm float-end" style="position:realtive" onclick="copy('3', this.id)"><i class="fa-solid fa-copy"></i></button>
                </div>
                <br>
                Reference List Entry
                <br>
                <div class="p-3" style="border-radius: 1em; background-color: aliceblue;">
                    <div id="4" style="display: inline;">
                        {{object.author.last_name}}, {{object.author.first_name|make_list|first}}. ({{object.get_year}}). '{{object.title}}', {{object.publisher}}, {{object.version}}, pp. {START_PAGE}-{END_PAGE}. Available at: {{ request.build_absolute_uri }} (Accessed: {{ date|date:"d/m/y " }})
                    </div>
                    <button id="4.1" class="btn btn-primary btn-sm float-end" style="position:realtive" onclick="copy('4', this.id)"><i class="fa-solid fa-copy"></i></button>
                </div>
                <br>
            </div>
            <div class="modal-header">
                <h5>BiBtex</h5>
            </div>
            <div class="modal-body">
                <div class="border p-3" style="border-radius: 1em; background-color: aliceblue;">
                    <div id="5" style="display: inline;">
                        @article{&#8202{{object.author.last_name}}{{object.get_year}},<br>
                        &emsp;author='{{object.author.last_name}}, {{object.author.first_name}}',<br>
                        &emsp;journal='Dissertation Exchange',<br>
                        &emsp;month='{{object.date_posted|date:'F'}}',<br>
                        &emsp;pages='{START_PAGE}-{END_PAGE}',<br>
                        &emsp;title='{{object.title}}',<br>
                        &emsp;year='{{object.get_year}}',<br>
                        }
                    </div>
                    <button id="5.1" class="btn btn-primary btn-sm float-end" style="position:realtive" onclick="copy('5', this.id)"><i class="fa-solid fa-copy"></i></button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block content1%}
<div class="article-metadata position-fixed">
    <img class="rounded-circle article-img" src="data:image/png;base64,{{ post.author.profile.blob_image }}">
    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ object.author }}</a>
    <small class="text-muted">{{ object.date_posted|date:"d N Y" }}  |</small>
    <br>
    <small class="font-weight-bold mt-2">| {{total_likes}} Likes  |</small>
    <small class="font-weight-bold"> {{total_dislikes}} Dislikes  |</small>
    <small class="font-weight-bold"> {{post.comments.all|length}} Comments  |</small>
    <small class="font-weight-bold"> {{total_saves}} Saves</small>
    {% if user.is_authenticated %}
    <div class="mt-3">
        {% if object.author == user %}
            <form class=" btn p-1 pt-0 pb-0 float-end">
                {% csrf_token %}
                <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'blog-update' object.id %}" data-toggle="tooltip" data-placement="top" title="Edit" ><i class="fa-solid fa-pen"></i></a>
                <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'blog-delete' object.id %}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa-solid fa-trash"></i></a>
            </form>
            <form action="{% url 'blog-like' post.pk %}" method="POST" class=" btn d-inline p-1 pt-0 pb-0">
                {% csrf_token %}
                {% if liked %}
                    <button class="btn btn-success btn-sm mt-1 mb-1" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Remove Like"><i class="fa-solid fa-thumbs-up"></i></button>
                {% elif not liked and not disliked %}
                    <button class="btn btn-success btn-sm mt-1 mb-1" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Like"><i class="fa-regular fa-thumbs-up"></i></button>
                {% else %}
                    <button class="btn btn-success btn-sm mt-1 mb-1 disabled" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Like"><i class="fa-regular fa-thumbs-up"></i></button>
                {% endif %}
            </form>
            <form action="{% url 'blog-dislike' post.pk %}" method="POST" class=" btn d-inline p-1 pt-0 pb-0">
                {% csrf_token %}
                {% if disliked %}
                    <button class="btn btn-danger btn-sm mt-1 mb-1" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Remove Dislike"><i class="fa-solid fa-thumbs-down"></i></button>
                {% elif not disliked and not liked %}
                    <button class="btn btn-danger btn-sm mt-1 mb-1" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Dislike"><i class="fa-regular fa-thumbs-down"></i></button>
                {% else %}
                    <button class="btn btn-danger btn-sm mt-1 mb-1 disabled" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Dislike"><i class="fa-regular fa-thumbs-down"></i></button>
                {% endif %}
            </form>
            <div class=" btn p-1 pt-0 pb-0">
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="#comment-section" data-toggle="tooltip" data-placement="top" title="Comment Section"><i class="fa-solid fa-comment"></i></a>
            </div>
        {% else %}
            <form action="{% url 'blog-like' post.pk %}" method="POST" class=" btn d-inline p-1 pt-0 pb-0">
                {% csrf_token %}
                {% if liked %}
                    <button class="btn btn-success btn-sm mt-1 mb-1" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Remove Like"><i class="fa-solid fa-thumbs-up"></i></button>
                {% elif not liked and not disliked %}
                    <button class="btn btn-success btn-sm mt-1 mb-1" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Like"><i class="fa-regular fa-thumbs-up"></i></button>
                {% else %}
                    <button class="btn btn-success btn-sm mt-1 mb-1 disabled" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Like"><i class="fa-regular fa-thumbs-up"></i></button>
                {% endif %}
            </form>
            <form action="{% url 'blog-dislike' post.pk %}" method="POST" class=" btn p-1 pt-0 pb-0">
                {% csrf_token %}
                {% if disliked %}
                    <button class="btn btn-danger btn-sm mt-1 mb-1" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Remove Dislike"><i class="fa-solid fa-thumbs-down"></i></button>
                {% elif not disliked and not liked %}
                    <button class="btn btn-danger btn-sm mt-1 mb-1" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Dislike"><i class="fa-regular fa-thumbs-down"></i></button>
                {% else %}
                    <button class="btn btn-danger btn-sm mt-1 mb-1 disabled" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Dislike"><i class="fa-regular fa-thumbs-down"></i></button>
                {% endif %}
            </form>
            <form action="{% url 'blog-saves' post.pk %}" method="Post" class=" btn p-1 pt-0 pb-0 float-end">
                {% csrf_token %}
                {% if saved %}
                    <button class="btn btn-primary btn-sm mt-1 mb-1" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Unsave"><i class="fa-solid fa-bookmark"></i></button>
                {% else %}
                    <button class="btn btn-primary btn-sm mt-1 mb-1" type="submit" name="post_id" value="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Save"><i class="fa-regular fa-bookmark"></i></button>
                {% endif %}
            </form>
            <div class=" btn p-1 pt-0 pb-0">
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="#comment-section" data-toggle="tooltip" data-placement="top" title="Comment Section"><i class="fa-solid fa-comment"></i></a>
            </div>
        {% endif %}
        <div class="btn p-1 pt-0 pb-0 float-end">
            <button class="btn btn-primary btn-sm mt-1 mb-1" type="button" data-toggle="modal" data-target="#citeModal">Cite</button>
        </div>


    {% else %}
    <br>
    <small>Must be logged in to edit or interact with posts. <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Signup</a> to get started. </small>
    {% endif %}
    <hr>
    <div>
        <h5>Peer Review Status:</h5>
        <p>
            {% if post.reviewed == 0%}
                Unreviewed 
            {% elif post.reviewed == 1 %}
                Reviewed <i class="fa-solid fa-check"></i>
            {% elif post.reviewed == 2 %}
                Failed <i class="fa-solid fa-xmark"></i>
            {% endif %}
        </p>
        <small class="text-muted">To find out information about the peer review process <a href="#">click here!</a></small>
    </div>
    <hr>
    <div>
        <h5>Tags:</h5>
        | <span><a href="{% url 'tag-list' object.primary_tag.pk%}">{{object.primary_tag.tags}}</a> |</span>
        {% if object.secondary_tags.all.count > 0 %}
            {% for i in object.secondary_tags.all %}
                <span><a href="{% url 'tag-list' i.pk%}">{{i.tags}}</a> |</span>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content1 %}


