{% extends "blog/base.html" %}
{% block content %}
<div class="content-section">
    <h1> Tags Information page </h1>
    <div class="m-2">
        <div class="mt-4">
            We understand you may have some questions about tags and how they work on our platform. Tags are labels that
            help categorize users and posts so that people can search for and discover content relevant to their
            interests.
            For example, if someone tags their post as 'mythology', then a user looking for mythology-related content
            can
            look for posts with that tag.
        </div>

        <div class="mt-4">
            Tags can be applied to posts and users. Posts must have one primary tag, but they can have multiple
            secondary
            tags. On the other hand, users can have zero or many tags. If a user has a tag that matches a post's tag,
            then the user
            is able to peer review the post. This is a great way to ensure quality and accuracy in the content posted.
        </div>

        <div class="mt-4 text-muted">
            We hope this information has been helpful and has given you a better understanding of how tags work on our
            platform.
        </div>
    </div>
</div>
{% endblock content %}