{% extends "blog/base.html" %}
{% block content %}

<script>
  function enableLikes() {
    document.getElementById('like').className = "btn d-inline btn-success btn-sm m-1 mt-0 float-end disabled";
    document.getElementById('dislike').className = "btn d-inline btn-danger btn-sm m-1 mt-0 float-end";
    document.getElementById('dislike').innerHTML = '<i class="fa-solid fa-thumbs-down"></i>'
    document.getElementById('dislike').title = 'Remove Dislike'


  }

  function enableDislikes() {
    document.getElementById('like').className = "btn d-inline btn-success btn-sm m-1 mt-0 float-end";
    document.getElementById('dislike').className = "btn d-inline btn-danger btn-sm m-1 mt-0 float-end disabled";
    document.getElementById('like').innerHTML = '<i class="fa-solid fa-thumbs-up"></i>'
    document.getElementById('like').title = 'Remove Like'
  }
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="nav nav-tabs w-100">
      <li class="nav-item">
        <a id="0" class="nav-link" onclick="myFunction(0)">All</a>
      </li>
      <li class="nav-item">
        <a id="1" class="nav-link" onclick="myFunction(1)">Posts</a>
      </li>
      <li class="nav-item">
        <a id="2" class="nav-link" onclick="myFunction(2)">Users</a>
      </li>
      <li class="nav-item">
        <a id="3" class="nav-link" onclick="myFunction(3)">Comments</a>
      </li>
      <li class="nav-item">
        <a id="4" class="nav-link" onclick="myFunction(4)">Tags</a>
      </li>
    </ul>
  </div>
</nav>

<h1 class="mb-3" style="display:inline">Search Results</h1>
<small class="text-muted float-end">Search will return the top 50 results from each category.<br>Refine your search if
  you can't find what your looking for.</small>
<br>
<br>
<div class="dropdown float-end mt-3">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Sort
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <input class="dropdown-item" type="submit" form="form0" value="Newest" />
    <input class="dropdown-item" type="submit" form="form1" value="Oldest" />
    <input class="dropdown-item" type="submit" form="form2" value="Most Popular" />
    <input class="dropdown-item" type="submit" form="form3" value="Least Popular" />
  </div>
</div>
<br>

<form id="form0" method="GET" action="{% url 'blog-search' 0 %}" style="display:none">
  {% csrf_token %}
  <div class="w-75 row">
    <div class="input-group-prepend w-100 p-0">
      <input class="form-control text-center" type="text" name="q" value="{{ query }}">
      <input id="test" type="text" name="u" value="0">
    </div>
  </div>
  <button type="submit" hidden>Search</button>
</form>

<form id="form1" method="GET" action="{% url 'blog-search' 1 %}" style="display:none">
  {% csrf_token %}
  <div class="w-75 row">
    <div class="input-group-prepend w-100 p-0">
      <input class="form-control text-center" type="text" name="q" value="{{ query }}">
      <input id="test1" type="text" name="u" value="0">
    </div>
  </div>
  <button type="submit" hidden>Search</button>
</form>

<form id="form2" method="GET" action="{% url 'blog-search' 2 %}" style="display:none">
  {% csrf_token %}
  <div class="w-75 row">
    <div class="input-group-prepend w-100 p-0">
      <input class="form-control text-center" type="text" name="q" value="{{ query }}">
      <input id="test2" type="text" name="u" value="0">
    </div>
  </div>
  <button type="submit" hidden>Search</button>
</form>

<form id="form3" method="GET" action="{% url 'blog-search' 3 %}" style="display:none">
  {% csrf_token %}
  <div class="w-75 row">
    <div class="input-group-prepend w-100 p-0">
      <input class="form-control text-center" type="text" name="q" value="{{ query }}">
      <input id="test3" type="text" name="u" value="0">
    </div>
  </div>
  <button type="submit" hidden>Search</button>
</form>

<form id="form4" method="GET" action="{% url 'blog-search' 4 %}" style="display:none">
  {% csrf_token %}
  <div class="w-75 row">
    <div class="input-group-prepend w-100 p-0">
      <input class="form-control text-center" type="text" name="q" value="{{ query }}">
      <input id="test4" type="text" name="u" value="0">
    </div>
  </div>
  <button type="submit" hidden>Search</button>
</form>


<div id="posts" style="display:none">
  <h5>{{ posts.count }} post results</h5>
  {% for post in posts %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <img class="rounded-circle article-img" src="data:image/png;base64,{{ post.author.profile.blob_image }}">
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"d N Y" }}</small>
        <small class="text-muted" data-toggle="tooltip" data-placement="top" title="Likes"> {{ post.likes.all.count }}
          <i class="fa-solid fa-thumbs-up"></i> | </small>
        <small class="text-muted" data-toggle="tooltip" data-placement="top" title="Dislike"> {{ post.dislikes.all.count }} <i class="fa-solid fa-thumbs-down"></i> | </small>
        <small class="text-muted" data-toggle="tooltip" data-placement="top" title="Comments"> {{ post.comments.all.count }} <i class="fa-solid fa-comment"></i> | </small>
        <small class="text-muted" data-toggle="tooltip" data-placement="top" title="Saves"> {{ post.saves.all.count }}
          <i class="fa-solid fa-bookmark"></i> | </small>
      </div>
      <h2><a class="article-title" href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h2>
      <p class="article-content text-muted">{{ post.abstract }}</p>
    </div>
  </article>
  {% endfor %}
</div>

<div id="users" style="display:none">
  <h5>{{ users.count }} user results</h5>
  {% for user in users %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <img class="rounded-circle article-img" src="data:image/png;base64,{{ user.profile.blob_image }}">
        <h2 style="display:inline"><a class="mr-2" href="{% url 'user-posts' user.username %}">{{ user.username }}</a>
        </h2>
        <pre class="text-secondary float-end mt-3 data"
          style="display:inline">| Followers: {{ user.profile.followers.all.count }} | </pre>
        <pre class="text-secondary float-end mt-3 data"
          style="display:inline">| Following: {{ user.profile.following.all.count }} </pre>
      </div>
      <div class="mt-3 mb-2">
        {{user.profile.bio}}
      </div>
    </div>
  </article>
  {% endfor %}
</div>

<div id="comments" style="display:none">
  <h5>{{ comments.count }} comment results</h5>
  {% for comment in comments %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <img class="rounded-circle article-img" src="data:image/png;base64,{{ comment.username.profile.blob_image }}">
        <a class="mr-2" href="{% url 'user-posts' comment.username.username %}">{{ comment.username.username }}</a>
        <small class="text-muted">{{ comment.date_added|date:"d N Y" }} {{ comment.date_added|time }} | {{
          comment.likes.count }} <i class="fa-solid fa-thumbs-up"></i> | {{ comment.dislikes.count }} <i
            class="fa-solid fa-thumbs-down"></i></small>
        {% if comment.username == user %}
        <a href="{% url 'blog-comment-update' comment.id %}" class="btn btn-warning btn-sm m-1 mt-3 float-end"
          data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa-solid fa-pen"></i></a>
        <a href="{% url 'blog-comment-delete' comment.id %}" class="btn btn-danger btn-sm m-1 mt-3 float-end"
          data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa-solid fa-trash"></i></a>
        {% endif %}
        <a href="{% url 'blog-detail' comment.post1.pk %}" class="btn btn-primary btn-sm m-1 mt-3 float-end"
          data-toggle="tooltip" data-placement="top" title="View Post"><i class="fa-solid fa-scroll"></i></a>
      </div>
      <div>{{ comment.body|linebreaks }}
        <br>
        <br>
        {% for user1 in comment.likes.all %}
        {% if user1 == user%}
        <script>enableDislikes()</script>
        {% endif %}
        {% endfor %}
        {% for user1 in comment.dislikes.all %}
        {% if user1 == user%}
        <script>enableLikes()</script>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </article>
  {% endfor %}
</div>

<div id="tags" style="display:none">
  <small class="float-end text-muted m-3 my-0">Sorting has no effect on Tags</small>
  <h5>{{tags.count}} tag results</h5>
  {% for tag in tags %}
  <article class="media content-section">
    <div class="media-body">
      <div class="mt-2 article-metadata border-bottom-0">
        <h2 class="mt-5" style="display:inline"><a class="mr-2" href="{% url 'tag-list' tag.pk %}">{{ tag.tags }}</a>
        </h2>
        <pre class="text-secondary float-end mt-0 data" style="display:inline"> | Followers: {{ tag.followers.count }} | </pre>
      </div>
    </div>
  </article>
  {% endfor %}
</div>

<script>
  function myFunction(int) {
    document.getElementById('test').value = int
    document.getElementById('test1').value = int
    document.getElementById('test2').value = int
    document.getElementById('test3').value = int
    document.getElementById('test4').value = int
    document.getElementById('dropdown-search').value = int

    if (int == 0) {
      document.getElementById('posts').style.display = "block";
      document.getElementById('users').style.display = "block";
      document.getElementById('tags').style.display = "block";
      document.getElementById('comments').style.display = "block";
      document.getElementById('0').className = "nav-link active";
      document.getElementById('1').className = "nav-link";
      document.getElementById('2').className = "nav-link";
      document.getElementById('3').className = "nav-link";
      document.getElementById('4').className = "nav-link";
    }
    else if (int == 1) {
      document.getElementById('posts').style.display = "block";
      document.getElementById('users').style.display = "none";
      document.getElementById('tags').style.display = "none";
      document.getElementById('comments').style.display = "none";
      document.getElementById('0').className = "nav-link";
      document.getElementById('1').className = "nav-link active";
      document.getElementById('2').className = "nav-link";
      document.getElementById('3').className = "nav-link";
      document.getElementById('4').className = "nav-link";
    }
    else if (int == 2) {
      document.getElementById('posts').style.display = "none";
      document.getElementById('users').style.display = "block";
      document.getElementById('comments').style.display = "none";
      document.getElementById('tags').style.display = "none";
      document.getElementById('0').className = "nav-link";
      document.getElementById('1').className = "nav-link";
      document.getElementById('2').className = "nav-link active";
      document.getElementById('3').className = "nav-link";
      document.getElementById('4').className = "nav-link";
    }
    else if (int == 3) {
      document.getElementById('posts').style.display = "none";
      document.getElementById('users').style.display = "none";
      document.getElementById('comments').style.display = "block";
      document.getElementById('tags').style.display = "none";
      document.getElementById('0').className = "nav-link";
      document.getElementById('1').className = "nav-link";
      document.getElementById('2').className = "nav-link";
      document.getElementById('3').className = "nav-link active";
      document.getElementById('4').className = "nav-link";
    }
    else if (int == 4) {
      document.getElementById('posts').style.display = "none";
      document.getElementById('users').style.display = "none";
      document.getElementById('comments').style.display = "none";
      document.getElementById('tags').style.display = "block";
      document.getElementById('0').className = "nav-link";
      document.getElementById('1').className = "nav-link";
      document.getElementById('2').className = "nav-link";
      document.getElementById('3').className = "nav-link";
      document.getElementById('4').className = "nav-link active";
    }
  }
  myFunction("{{tab}}")
</script>
{% endblock content %}