{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login</legend>
            {{ form| crispy }}
        </fieldset>
        <div class="form-group mt-1">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3 mt-1">
        <small class="text-muted">Don't have an account? <a class="ml-2" href="{% url 'register' %}">Sign
                Up!</a></small>
        <small class="text-muted float-end">Forgotten Password?<a class="ml-2" href="{% url 'password_reset' %}">Reset
                Here</a></small>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet"
    type="text/css" />
{% endblock content %}